[Unit]
Description=Coffee Project Service (Development)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/zclub/coffee/coffee_server_dev
ExecStart=/zclub/coffee/coffee_server_dev/bin/coffee_server
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
